.heading{
    color:red;
    width: fit-content;
    margin: 10px auto;

}

.box{
    width: 30%;
    margin: auto;
    max-height: 80vh;
    padding: 15px;
    overflow: auto;
    border: 5px solid rgb(199, 193, 193);
    border-radius: 5px;
   
}

.innerbox{
    text-align: center;
    padding: 5px;
    margin: 10px auto;
    box-shadow: 1px 1px 3px rgb(134, 131, 131);
}